<section id="page-header" class="about-header">
    <h2>#Know Us</h2>
    <h3>More Information Below</h3>
</section>
<section id="about-head" class="section-p1">
    <img src='{% static "static/assets/images/istockphoto-1086341762-612x612.jpg" %}' alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>We are a group of developers who want everyone to have the freedom to talk and express themselves</p>
        <abbr title="">Try Our Website Now And Explore new way of thinking</abbr>
        
        
        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Join our blog now and have the chance to express your feelings</marquee>
    </div>

</section>